body {
    background: url(foto.jpg);
}

header {
    font-weight: bold;
    color: white;
    text-align: center;
}
section {
    
    background-color:white;
    width: 350px;
    padding: 1px;
    margin: auto;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 20px;
    
}
#botao {
    text-align: center;
}
#res {
    text-align: center;
}
#log {
    text-align: justify;
    line-height: 30px;
    font-size: 13pt;
    font-weight: bold;
}