body{

     background-image: url("foto.jpg");
     background-size: cover;
     background-repeat: no-repeat;

}

header {
    font-weight: bold;
    text-align: center;
}
section {
    background-color:rgb(226, 227, 228);
    width: 350px;
    padding: 10px;
    margin: auto; 
    border-radius: 10px;
    padding-left: 15px;
}

#botao {
    text-align: center;
    color: black;
    width: 8rem;
}
#res {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}
#log {
    text-align: justify;
    line-height: 30px;
    font-size: 13pt;
    font-weight: bold;
}

#idade, #pessoa, #cep {
    border-radius: 8px;
    border: none;
    text-align: center;
    
}
