body {
    background: url(foto.jpg);
    background-size: cover;

}

header {
    font-weight: bold;
    color: rgb(5, 5, 5);
    text-align: center;
}
section {
    
    background-color:white;
    width: 350px;
    padding: 1px;
    margin: auto;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
    
}
#imp {
    font-weight: bold;
}
#botao {
    text-align: center;
}
#res {
    text-align: center;
        font-weight: bold;
}
#log {
    text-align: justify;
    line-height: 30px;
    font-size: 13pt;
    font-weight: bold;
}